<html>
    <head>
<title>Home Page Reb</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

 <script type="text/javascript">
    $(document).ready(function(){
        $(".dropdown, .btn-group").hover(function(){
            var dropdownMenu = $(this).children(".dropdown-menu");
            if(dropdownMenu.is(":visible")){
                dropdownMenu.parent().toggleClass("open");
            }
        });
    });		
    </script>


<style>
  h1{
      color:rgb(83, 65, 204);
      text-align: center;
      margin-top:93px;
      font-size: 65px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

.navbar-default .navbar-nav>li>a{
    color:white;
}

#myNavbar{
background-color:rgb(83, 65, 204);
color:white; 
padding:0 auto;

}
.bs-example{
	margin: 20px;
}
@media screen and (min-width: 768px) {
  .dropdown:hover .dropdown-menu, .btn-group:hover .dropdown-menu{
		display: block;
        
	}
	.dropdown-menu{
		margin-top: 0;
        background-color:inherit;
	}
	.dropdown-toggle{
		margin-bottom: 2px;
	}
	.navbar .dropdown-toggle, .nav-tabs .dropdown-toggle{
		margin-bottom: 0;
        color:white;
	}
}



  </style>  
<body>
       <nav id="myNavbar" class="navbar navbar-default" role="navigation">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/reb">Home</a></li>
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">Users</a>
                        <ul class="dropdown-menu">
                            <li><a href="/reb/users/add">Add New User</a></li>
                            <li><a href="/reb/users">User List</a></li>
                        </ul>
                    </li>
                </ul>

                 <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Classes</a>
                            <ul class="dropdown-menu">
                                <li><a href="/reb/class/addclass">Add New Class</a></li>
                                <li><a href="/reb/class">Class List</a></li>
                            </ul>
                        </li>
                    </ul>
                
                    <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="#" data-toggle="dropdown" class="dropdown-toggle">Content</a>
                                <ul class="dropdown-menu">
                                    <li><a href="/reb//contents/addcontent">Add New Content</a></li>
                                    <li><a href="/reb/contents/viewpage">View Page</a></li>
                                    <li><a href="/reb/contents">Content List</a></li>
                                </ul>
                            </li>
                        </ul>    
            
                        <ul class="nav navbar-nav">
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">Eligibilities</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/reb/eligible/addeligibility">Add New Eligibility</a></li>
                                        <li><a href="/reb/eligible">Eligibility List</a></li>
                                    </ul>
                                </li>
                            </ul>

                    <ul class="nav navbar-nav">
                   <li class="dropdown">
                       <a href="#" data-toggle="dropdown" class="dropdown-toggle">Fields</a>
                    <ul class="dropdown-menu">
                           <li><a href="/reb/fields/addfield">Add New Fields</a></li>
                               <li><a href="/reb/fields">Field List</a></li>
                          </ul>
                      </li>
                    </ul>

                    <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="#" data-toggle="dropdown" class="dropdown-toggle">Streams</a>
                                <ul class="dropdown-menu">
                                    <li><a href="/reb/streams/addstream">Add New Stream</a></li>
                                    <li><a href="/reb/streams">Stream List</a></li>
                                </ul>
                            </li>
                        </ul>
                 
                        <ul class="nav navbar-nav">
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">Subjetcs</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/reb/subject/addsubject">Add New Subject</a></li>
                                        <li><a href="/reb/subject">Subject List</a></li>
                                    </ul>
                                </li>
                            </ul>
                        
                            <ul class="nav navbar-nav">
                                    <li class="dropdown">
                                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">Exams</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="/reb/exam/addexam">Add New Exam</a></li>
                                            <li><a href="/reb/exam">Exam List</a></li>
                                        </ul>
                                    </li>
                                </ul>
                                                
                                <ul class="nav navbar-nav">
                                        <li class="dropdown">
                                            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Teachers</a>
                                            <ul class="dropdown-menu">
                                                <li><a href="/reb/teacher/addteacher">Add New Teacher</a></li>
                                                <li><a href="/reb/teacher">Teachers List</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                      </div>
        </div>
       </nav>

<h1>R.E.B</h1>

<hr>
    

    


</body>
</html>

