
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Revoedubook</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
	<link rel="stylesheet" href="../css/owl.carousel.css">
  </head>
  <body>
    <!-- Navbar Section Start -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white custom_menu sticky-top">
      <div class="container-fluid">
        <a class="navbar-brand text-danger" href="/"><img src="../images/site-logo.PNG" alt="" width="130"></a>
         <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="icon-bar top-bar"></span>
          <span class="icon-bar middle-bar"></span>
          <span class="icon-bar bottom-bar"></span>
          <span class="sr-only">Toggle navigation</span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarResponsive">
          <ul class="navbar-nav ">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/">Study Material</a>
            </li>
			<li class="nav-item">
              <a class="nav-link" href="test_your_self">Test Yourself</a>
            </li>
			<li class="nav-item">
              <a class="nav-link" href="career-guidance">Career Guidance</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="entrance_exam">Entrance Exams</a>
            </li>
			<li class="nav-item">
              <a class="nav-link" href="blog-discussion">Blogs & Discussions</a>
            </li>
          </ul>
          <form class="form-inline my-2 ml-3 my-lg-0">
		      <button class="btn btn-success my-2 my-sm-0 register_btn" type="button" data-toggle="modal" data-target="#register">Register</button>
		  </form>
        </div>
      </div>
    </nav>
