<%- include ../sitelayouts/header.ejs %>

    <div class="page_heading">
    	<img src="../images/banner.jpg" alt="" width="100%" height="150">
    	<div class="pagesub_heading">
    		<h1>Subject Wise <span class="main_color">Material</span></h1>
    	</div>
    </div>
      
	<div class="container-fluid side_tabbar my-3">
		<div class="row">
			<div class="col-md-12">
				<nav aria-label="breadcrumb">
				    <ol class="breadcrumb">
				      <li class="breadcrumb-item"><a href="blog-discussion">Home</a></li>
				      <li class="breadcrumb-item active" aria-current="page">Subject Wise</li>
				    </ol>
				</nav>
			</div>
			<div class="col-md-4 col-sm-4 col-xl-3">
			  <div class="side_barheading">
			  	<h6 href="blog_subjectwise">Subject Wise <i class="fas fa-hand-point-right hand_icon"></i></h6>
			  </div>
			  <ul class="nav nav-tabs" id="myTab" role="tablist">
				  <li class="nav-item">
				    <a class="nav-link active tabbar_heading" data-toggle="tab" href="#activelink" role="tab" aria-controls="home"><i class="fas fa-chevron-right"></i> Environment</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link" data-toggle="tab" href="#link1" role="tab" aria-controls="profile"><i class="fas fa-chevron-right"></i> Physics</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link" data-toggle="tab" href="#link2" role="tab" aria-controls="messages"><i class="fas fa-chevron-right"></i> Chemistry</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link" data-toggle="tab" href="#link3" role="tab" aria-controls="settings"><i class="fas fa-chevron-right"></i> Mathematics</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link" data-toggle="tab" href="#link4" role="tab" aria-controls="settings"><i class="fas fa-chevron-right"></i> Biology</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link" data-toggle="tab" href="#link5" role="tab" aria-controls="settings"><i class="fas fa-chevron-right"></i> History</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link" data-toggle="tab" href="#link6" role="tab" aria-controls="settings"><i class="fas fa-chevron-right"></i> Accounts</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link" data-toggle="tab" href="#link7" role="tab" aria-controls="settings"><i class="fas fa-chevron-right"></i> Business Studies</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link" data-toggle="tab" href="#link8" role="tab" aria-controls="settings"><i class="fas fa-chevron-right"></i> English</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link" data-toggle="tab" href="#link9" role="tab" aria-controls="settings"><i class="fas fa-chevron-right"></i> Punjabi</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link" data-toggle="tab" href="#link10" role="tab" aria-controls="settings"><i class="fas fa-chevron-right"></i> Hindi</a>
				  </li>
			  </ul>
			  <div class="filter_bar">
			  	<a href=""><i class="fas fa-chevron-right"></i> Class Wise</a>
			  	<a href=""><i class="fas fa-chevron-right"></i> Study Material By Board</a>
			  	<a href=""><i class="fas fa-chevron-right"></i> Extrance Exam Wise</a>
			  	<a href=""><i class="fas fa-chevron-right"></i> GOVT. Exam Wise</a>
			  	<a href=""><i class="fas fa-chevron-right"></i> UR Interset Wise</a>
				<a href=""><i class="fas fa-chevron-right"></i> Engineering Study Material</a>
				<a href=""><i class="fas fa-chevron-right"></i> Medical Study Material</a>
			  </div>
			</div>
			<div class="col-md-4 col-sm-8 col-xl-6">
				<div class="tab-content">
					<div class="tab-pane active" id="activelink" role="tabpanel">
						<div class="main_title">
							<a href="">Environment</a>
						</div>
					  	<div class="text-center mb-2">
					  		<div class="form-row">
						  		<div class="col-md-6 col-sm-6 col-lg-4">	
									<div class="subject_box">
									  <a href="blog_subject_topic.html"><div class="subject_icon">
										<i class="fas fa-at"></i>
									  </div><br>
									  <h5>Force</h5></a>
									</div>
								</div>
								<div class="col-md-6 col-sm-6 col-lg-4">	
									<div class="subject_box">
									  <a href="blog_subject_topic"><div class="subject_icon">
										<i class="fas fa-at"></i>
									  </div><br>
									  <h5>Gravtiation</h5></a>
									</div>
								</div>
								<div class="col-md-6 col-sm-6 col-lg-4">	
									<div class="subject_box">
									  <a href="blog_subject_topic.html"><div class="subject_icon">
										<i class="fas fa-at"></i>
									  </div><br>
									  <h5>Magnetism</h5></a>
									</div>
								</div>
								<div class="col-md-6 col-sm-6 col-lg-4">	
									<div class="subject_box">
									  <a href="blog_subject_topic.html"><div class="subject_icon">
										<i class="fas fa-at"></i>
									  </div><br>
									  <h5>Atoms</h5></a>
									</div>
								</div>
								<div class="col-md-6 col-sm-6 col-lg-4">	
									<div class="subject_box">
									  <a href="blog_subject_topic.html"><div class="subject_icon">
										<i class="fas fa-at"></i>
									  </div><br>
									  <h5>Chemical</h5></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				  <div class="tab-pane" id="link1" role="tabpanel">
					<div class="main_title">
						<a href="">Physics</a>
					</div>
					<div class="text-center mb-2">
						<div class="form-row">
							<div class="col-md-6 col-sm-6 col-lg-4">	
								<div class="subject_box">
								  <a href=""><div class="subject_icon">
									<i class="fas fa-at"></i>
								  </div><br>
								  <h5>Force</h5></a>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 col-lg-4">	
								<div class="subject_box">
								  <a href=""><div class="subject_icon">
									<i class="fas fa-at"></i>
								  </div><br>
								  <h5>Gravtiation</h5></a>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 col-lg-4">	
								<div class="subject_box">
								  <a href=""><div class="subject_icon">
									<i class="fas fa-at"></i>
								  </div><br>
								  <h5>Magnetism</h5></a>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 col-lg-4">	
								<div class="subject_box">
								  <a href=""><div class="subject_icon">
									<i class="fas fa-at"></i>
								  </div><br>
								  <h5>Atoms</h5></a>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 col-lg-4">	
								<div class="subject_box">
								  <a href=""><div class="subject_icon">
									<i class="fas fa-at"></i>
								  </div><br>
								  <h5>Chemical</h5></a>
								</div>
							</div>
						</div>
					</div>
				  </div>
				  <div class="tab-pane" id="link2" role="tabpanel">.3..</div>
				  <div class="tab-pane" id="link3" role="tabpanel">.4..</div>
				  <div class="tab-pane" id="link4" role="tabpanel">.5..</div>
				  <div class="tab-pane" id="link5" role="tabpanel">.6..</div>
				  <div class="tab-pane" id="link6" role="tabpanel">.7..</div>
				  <div class="tab-pane" id="link7" role="tabpanel">.8..</div>
				  <div class="tab-pane" id="link8" role="tabpanel">.9..</div>
				  <div class="tab-pane" id="link9" role="tabpanel">.10..</div>
				  <div class="tab-pane" id="link10" role="tabpanel">.11..</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 col-xl-3">
				<h1 class="blog_heading">Latest Blogs</h1>
				<div class="latest_blog">
					<ul id="ticker01">
						<li><span>Heading</span><br><a href="#">The first thing that most Javascript programmers</a></li>
						<li><span>Heading</span><br><a href="#">End up doing is adding some code</a></li>
						<li><span>Heading</span><br><a href="#">The code that you want to run</a></li>
						<li><span>Heading</span><br><a href="#">Inside of which is the code that you want to run</a></li>
						<li><span>Heading</span><br><a href="#">Right when the page is loaded</a></li>
						<li><span>Heading</span><br><a href="#">Problematically, however, the Javascript code</a></li>
						<li><span>Heading</span><br><a href="#">The first thing that most Javascript programmers</a></li>
						<li><span>Heading</span><br><a href="#">End up doing is adding some code</a></li>
						<li><span>Heading</span><br><a href="#">The code that you want to run</a></li>
						<li><span>Heading</span><br><a href="#">Inside of which is the code that you want to run</a></li>
						<li><span>Heading</span><br><a href="#">Right when the page is loaded</a></li>
						<li><span>Heading</span><br><a href="#">Problematically, however, the Javascript code</a></li>
					</ul>
				</div>
				
				<h1 class="blog_heading mt-3">Birth of Star</h1>
				<div class="latest_blog">
					<ul id="ticker01">
						<li><span>John </span><a href="#"> (14/05/1991)</a></li>
						<li><span>Robin </span><a href="#"> (20/12/1889)</a></li>
						<li><span>Wasif </span><a href="#"> (30/01/1990)</a></li>
						<li><span>John </span><a href="#"> (14/05/1991)</a></li>
						<li><span>Robin </span><a href="#"> (20/12/1889)</a></li>
						<li><span>Wasif </span><a href="#"> (30/01/1990)</a></li>
						<li><span>John </span><a href="#"> (14/05/1991)</a></li>
						<li><span>Robin </span><a href="#"> (20/12/1889)</a></li>
						<li><span>Wasif </span><a href="#"> (30/01/1990)</a></li>
						<li><span>John </span><a href="#"> (14/05/1991)</a></li>
						<li><span>Robin </span><a href="#"> (20/12/1889)</a></li>
						<li><span>Wasif </span><a href="#"> (30/01/1990)</a></li>
						<li><span>John </span><a href="#"> (14/05/1991)</a></li>
						<li><span>Robin </span><a href="#"> (20/12/1889)</a></li>
						<li><span>Wasif </span><a href="#"> (30/01/1990)</a></li>
						<li><span>John </span><a href="#"> (14/05/1991)</a></li>
						<li><span>Robin </span><a href="#"> (20/12/1889)</a></li>
						<li><span>Wasif </span><a href="#"> (30/01/1990)</a></li>
						<li><span>John </span><a href="#"> (14/05/1991)</a></li>
						<li><span>Robin </span><a href="#"> (20/12/1889)</a></li>
						<li><span>Wasif </span><a href="#"> (30/01/1990)</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

   <%- include ../sitelayouts/footer.ejs %>