<%- include ../sitelayouts/header.ejs %>

    <div class="page_heading">
    	<img src="../images/banner.jpg" alt="" width="100%" height="150">
    	<div class="pagesub_heading">
    		<h1>CAREER AFTER<span class="main_color"> CLASS 10</span></h1>
    	</div>
    </div>
      
	<div class="container-fluid my-3">
		<div class="row">
			<div class="col-md-12">
				<nav aria-label="breadcrumb">
				    <ol class="breadcrumb">
				      <li class="breadcrumb-item"><a href="career-guidance">Home</a></li>
				      <li class="breadcrumb-item active" aria-current="page">Career Guidance</li>
				    </ol>
				</nav>
			</div>
			<div class="col-md-4 col-sm-4 col-xl-3 side_tabbar">
			  <div class="side_barheading border-none">
			  	<h6 href="subjectwise.html">Career Guidance <i class="fas fa-hand-point-right hand_icon"></i></h6>
			  </div>
			  <div id="accordion" class="accordion custom_accordion">
				<div class="card mb-0">
					<div class="card-header collapsed arrow_change" data-toggle="collapse" href="#collapseOne">
						<a class="card-title"> Career After Class 10 <i class="fas fa-angle-right"></i></a>
					</div>
					<div id="collapseOne" class="card-body collapse p-0" data-parent="#accordion" >
						<ul class="nav nav-tabs" id="myTab" role="tablist">
						  <li class="nav-item">
							<a class="nav-link active tabbar_heading" data-toggle="tab" href="#tenth1" role="tab" aria-controls="home"><i class="fas fa-chevron-right"></i> Science Stream</a>
						  </li>
						  <li class="nav-item">
							<a class="nav-link  tabbar_heading" data-toggle="tab" href="#tenth2" role="tab" aria-controls="home"><i class="fas fa-chevron-right"></i> Commerce Stream</a>
						  </li>
						  <li class="nav-item">
							<a class="nav-link  tabbar_heading" data-toggle="tab" href="#tenth3" role="tab" aria-controls="home"><i class="fas fa-chevron-right"></i> Arts & Humanities Stream</a>
						  </li>
						  <li class="nav-item">
							<a class="nav-link  tabbar_heading" data-toggle="tab" href="#tenth4" role="tab" aria-controls="home"><i class="fas fa-chevron-right"></i> Vocational Courses</a>
						  </li>
						  <li class="nav-item">
							<a class="nav-link  tabbar_heading" data-toggle="tab" href="#tenth5" role="tab" aria-controls="home"><i class="fas fa-chevron-right"></i> Eng Diploma/Polytechnic Courses</a>
						  </li>
						  <li class="nav-item">
							<a class="nav-link  tabbar_heading" data-toggle="tab" href="#tenth6" role="tab" aria-controls="home"><i class="fas fa-chevron-right"></i> Non Technical Deplomas</a>
						  </li>
						  <li class="nav-item">
							<a class="nav-link  tabbar_heading" data-toggle="tab" href="#tenth7" role="tab" aria-controls="home"><i class="fas fa-chevron-right"></i> ItI Courses</a>
						  </li>
					  </ul>
					</div>
					<div class="card-header collapsed arrow_change" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
						<a class="card-title"> Career After Class 12 <i class="fas fa-angle-right"></i></a>
					</div>
					<div id="collapseTwo" class="card-body collapse p-0" data-parent="#accordion" >
						<ul class="nav nav-tabs" id="myTab" role="tablist">
						  <li class="nav-item">
							<a class="nav-link active tabbar_heading" data-toggle="tab" href="#twelth1" role="tab" aria-controls="home"><i class="fas fa-chevron-right"></i> Topic Wise Video Lectures</a>
						  </li>
						  <li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#twelth2" role="tab" aria-controls="profile"><i class="fas fa-chevron-right"></i> Topic Wise Theory Test</a>
						  </li>
						</ul>
					</div>
					<div class="card-header collapsed arrow_change" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
						<a class="card-title"> Ur Interest <i class="fas fa-angle-right"></i></a>
					</div>
					<div id="collapseThree" class="collapse" data-parent="#accordion" >
						<ul class="nav nav-tabs" id="myTab" role="tablist">
						  <li class="nav-item">
							<a class="nav-link active tabbar_heading" data-toggle="tab" href="#urinterest1" role="tab" aria-controls="home"><i class="fas fa-chevron-right"></i> Topic Wise Video Lectures</a>
						  </li>
						  <li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#urinterest2" role="tab" aria-controls="profile"><i class="fas fa-chevron-right"></i> Topic Wise Theory Test</a>
						  </li>
						</ul>
					</div>
					<div class="card-header collapsed arrow_change" data-toggle="collapse" data-parent="#accordion" href="#collapsefour">
						<a class="card-title"> Career after Graduation <i class="fas fa-angle-right"></i></a>
					</div>
					<div id="collapsefour" class="collapse" data-parent="#accordion" >
						<ul class="nav nav-tabs" id="myTab" role="tablist">
						  <li class="nav-item">
							<a class="nav-link active tabbar_heading" data-toggle="tab" href="#graduation1" role="tab" aria-controls="home"><i class="fas fa-chevron-right"></i> Topic Wise Video Lectures</a>
						  </li>
						  <li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#graduation2" role="tab" aria-controls="profile"><i class="fas fa-chevron-right"></i> Topic Wise Theory Test</a>
						  </li>
						</ul>
					</div>
					<div class="card-header collapsed arrow_change" data-toggle="collapse" data-parent="#accordion" href="#collapsefive">
						<a class="card-title"> Career after Post Graduation <i class="fas fa-angle-right"></i></a>
					</div>
					<div id="collapsefive" class="collapse" data-parent="#accordion" >
						<ul class="nav nav-tabs" id="myTab" role="tablist">
						  <li class="nav-item">
							<a class="nav-link active tabbar_heading" data-toggle="tab" href="#postgraduation1" role="tab" aria-controls="home"><i class="fas fa-chevron-right"></i> Topic Wise Video Lectures</a>
						  </li>
						  <li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#postgraduation2" role="tab" aria-controls="profile"><i class="fas fa-chevron-right"></i> Topic Wise Theory Test</a>
						  </li>
						</ul>
					</div>
				</div>
			  </div>
			</div>
			<div class="col-md-8 col-sm-8 col-xl-6 topics">
				<div class="tab-content">
					<div class="tab-pane active" id="tenth1" role="tabpanel">
						<div class="main_title">
							<a href="">Career After Class 10 - <small>Science Stream</small></a>
						</div>
					  	<div class="mb-2">
					  		<div class="form-row">
								<div class="col-md-7 col-lg-9 col-sm-7 ">
									<ul class="nav nav-tabs" role="tablist">
									  <li class="nav-item">
										<a class="nav-link active" href="#intro" role="tab" data-toggle="tab">Interduction</a>
									  </li>
									  <li class="nav-item">
										<a class="nav-link" href="#eli" role="tab" data-toggle="tab">Eligibility</a>
									  </li>
									  <li class="nav-item">
										<a class="nav-link" href="#job" role="tab" data-toggle="tab">Job Prospects</a>
									  </li>
									  <li class="nav-item">
										<a class="nav-link" href="#rem" role="tab" data-toggle="tab">Remeuration</a>
									  </li>
									</ul>

									<!-- Tab panes -->
									<div class="tab-content tab_border mt-3">
									  <div role="tabpanel" class="tab-pane in active" id="intro">
										<div class="col-md-12">
											<p>When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
											<p>It has survived not only five centuries, but also the leap into electronic. </p>
											<p>typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
										</div>
									  </div>
									  <div role="tabpanel" class="tab-pane fade" id="eli">
										2
									  </div>
									  <div role="tabpanel" class="tab-pane fade" id="job">
									  3
									  </div>
									  <div role="tabpanel" class="tab-pane fade" id="rem">
									  3
									  </div>
									</div>
								</div>
								<div class="col-md-7 col-lg-3 col-sm-7">
									<div class="institute_name">
										<a href="">Name of Institutes</a>
										<a href="">Usefull Contact</a>
										<a href="">Website of Institutes</a>
									</div>
								</div>
								<div class="col-lg-12 mt-4">
									<div class="more_links">
										<a href="">- Animation</a>
										<a href="">- Beauty Care</a>
										<a href="">- Call Centers</a>
										<a href="">- IAF Air Man</a>
										<a href="">- Indian Army</a>
										<a href="">- Jewellery Designing</a>
										<a href="">- Modeling</a>
										<a href="">- Radio Jockey</a>
										<a href="">- Teaching</a>
										<a href="">- Video Editing</a>
										<a href="">- Video Jockey</a><br>
										<a class="float-right more_view" href="">- More Career Options...</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				  <div class="tab-pane" id="tenth2" role="tabpanel">
					<div class="main_title">
						<a href="">Topic Wise Theory Test - <small>Topic-1</small></a>
						</div>
					  	<div class="mb-2">
					  		<div class="form-row">
								<div class="col-md-7 col-lg-9 col-sm-7 ">
									<ul class="nav nav-tabs" role="tablist">
									  <li class="nav-item">
										<a class="nav-link active" href="#intro1" role="tab" data-toggle="tab">Interduction</a>
									  </li>
									  <li class="nav-item">
										<a class="nav-link" href="#eli1" role="tab" data-toggle="tab">Eligibility</a>
									  </li>
									  <li class="nav-item">
										<a class="nav-link" href="#job1" role="tab" data-toggle="tab">Job Prospects</a>
									  </li>
									  <li class="nav-item">
										<a class="nav-link" href="#rem1" role="tab" data-toggle="tab">Remeuration</a>
									  </li>
									</ul>

									<!-- Tab panes -->
									<div class="tab-content tab_border mt-3">
									  <div role="tabpanel" class="tab-pane in active" id="intro1">
										<div class="col-md-12">
											<p>When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
											<p>It has survived not only five centuries, but also the leap into electronic. </p>
											<p>typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
										</div>
									  </div>
									  <div role="tabpanel" class="tab-pane fade" id="eli1">
										2
									  </div>
									  <div role="tabpanel" class="tab-pane fade" id="job1">
									  3
									  </div>
									  <div role="tabpanel" class="tab-pane fade" id="rem1">
									  3
									  </div>
									</div>
								</div>
							</div>
						</div>
				  </div>
				  <div class="tab-pane" id="tenth3" role="tabpanel">.3..</div>
				  <div class="tab-pane" id="tenth4" role="tabpanel">.4..</div>
				  <div class="tab-pane" id="tenth5" role="tabpanel">.5..</div>
				  <div class="tab-pane" id="tenth6" role="tabpanel">.6..</div>
				  <div class="tab-pane" id="twelth1" role="tabpanel">.1..</div>
				  <div class="tab-pane" id="twelth2" role="tabpanel">.2..</div>
				  <div class="tab-pane" id="urinterest1" role="tabpanel">.1..</div>
				  <div class="tab-pane" id="urinterest2" role="tabpanel">.2..</div>
				  <div class="tab-pane" id="graduation1" role="tabpanel">.1..</div>
				  <div class="tab-pane" id="graduation2" role="tabpanel">.2..</div>
				  <div class="tab-pane" id="postgraduation1" role="tabpanel">.1..</div>
				  <div class="tab-pane" id="postgraduation2" role="tabpanel">.2..</div>
				</div>
			</div>
			<div class="col-lg-3">
				<h1>There Will be Subcategories</h1>
			</div>
		</div>
	</div>
	
 <%- include ../sitelayouts/footer.ejs %>