<%- include ../sitelayouts/header.ejs %>

    <div class="main_video">
      <div class="overlay"></div>
      <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
        <source src="../video/ADRA Animated Short- Education.mp4" type="video/mp4">
          <source src="../video/mov_bbb.ogg" type="video/ogg">
      </video>
      <div class="container h-100">
        <div class="d-flex text-center h-100">
          <div class="my-auto w-100 text-white">
            <h1 class="display-3 text-uppercase font-weight-bold">Career <b class="main_color">Guidance</b></h1>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid my-4">
    	<div class="row">
    		<div class="col-md-5 col-lg-3 col-sm-5 d-none d-sm-block category_img">
    			<a href="subjectwise.html"><img class="img-fluid" src="../images/2.jpg" alt=""></a>
    		</div>
		    <div class="col-md-7 col-lg-9 col-sm-7">
				<div class="main_title">
					<a href="career_after10">Career After Class 10</a>
				</div>	
				<div id="owl-demo" class="text-center">        
					<div class="item">
						<div class="section_box">
						  <a href=""><div class="product_icon">
							<i class="fas fa-user-graduate"></i>
						  </div><br>
						  <h5>Science Stream</h5></a>
						</div>
					</div>
					<div class="item">
						<div class="section_box">
						  <a href=""><div class="product_icon">
							<i class="fas fa-at"></i>
						  </div><br>
						  <h5>Commerce Stream</h5></a>
						</div>
					</div>
					<div class="item">
						<div class="section_box">
						  <a href=""><div class="product_icon">
							<i class="fas fa-at"></i>
						  </div><br>
						  <h5>Arts & Humanities Stream</h5></a>
						</div>
					</div>
					<div class="item">
						<div class="section_box">
						  <a href=""><div class="product_icon">
							<i class="fas fa-at"></i>
						  </div><br>
						  <h5>Vocational Courses</h5></a>
						</div>
					</div>
					<div class="item">
						<div class="section_box">
						  <a href=""><div class="product_icon">
							<i class="fas fa-at"></i>
						  </div><br>
						  <h5>Eng Diploma/Polytechnic Courses</h5></a>
						</div>
					</div>
					<div class="item">
						<div class="section_box">
						  <a href=""><div class="product_icon">
							<i class="fas fa-at"></i>
						  </div><br>
						  <h5>Non Technical Deplomas</h5></a>
						</div>
					</div>
					<div class="item">
						<div class="section_box">
						  <a href=""><div class="product_icon">
							<i class="fas fa-at"></i>
						  </div><br>
						  <h5>ItI Courses</h5></a>
						</div>
					</div>		
				</div>
			</div>
		</div>
	</div>
	
	<div class="bg">
		<div class="container-fluid">
	    	<div class="row">
				<div class="col-md-7 col-lg-9 col-sm-7">
					<div class="main_title text-right">
						<a href="#">Career After Class 12</a>
					</div>
					<div id="owl-demo" class="text-center">        
						<div class="item">
							<div class="section_box">
							  <a href=""><div class="product_icon">
								<i class="fas fa-at"></i>
							  </div><br>
							  <h5>B.Tech</h5></a>
							</div>
						</div>
						<div class="item">
							<div class="section_box">
							  <a href=""><div class="product_icon">
								<i class="fas fa-at"></i>
							  </div><br>
							  <h5>B.Sc</h5></a>
							</div>
						</div>
						<div class="item">
							<div class="section_box">
							  <a href=""><div class="product_icon">
								<i class="fas fa-at"></i>
							  </div><br>
							  <h5>BCA</h5></a>
							</div>
						</div>
						<div class="item">
							<div class="section_box">
							  <a href=""><div class="product_icon">
								<i class="fas fa-at"></i>
							  </div><br>
							  <h5>B.COM</h5></a>
							</div>
						</div>
						<div class="item">
							<div class="section_box">
							  <a href=""><div class="product_icon">
								<i class="fas fa-at"></i>
							  </div><br>
							  <h5>Medicine</h5></a>
							</div>
						</div>
						<div class="item">
							<div class="section_box">
							  <a href=""><div class="product_icon">
								<i class="fas fa-at"></i>
							  </div><br>
							  <h5>Biological Sciences</h5></a>
							</div>
						</div>
						<div class="item">
							<div class="section_box">
							  <a href=""><div class="product_icon">
								<i class="fas fa-at"></i>
							  </div><br>
							  <h5>Film Making</h5></a>
							</div>
						</div>		
					</div>
				</div>
				<div class="col-md-5 col-lg-3 col-sm-5 d-none d-sm-block category_img">
    				<a href="#"><img class="img-fluid" src="../images/3.jpg" alt=""></a>
    			</div>
			</div>
		</div>
	</div>
	
	<div class="container-fluid my-4">
    	<div class="row">
    		<div class="col-md-5 col-lg-3 col-sm-5 d-none d-sm-block category_img">
				<a href="boardmaterial.html"><img class="img-fluid" src="../images/6.jpg" alt=""></a>
			</div>
			<div class="col-md-7 col-lg-9 col-sm-7">
				<div class="main_title">
					<a href="#">Ur Interset</a>
				</div>	
				<div id="owl-demo" class="text-center">        
					<div class="item">
						<div class="section_box">
						  <a href=""><div class="product_icon">
							<i class="fas fa-at"></i>
						  </div><br>
						  <h5>Acting</h5></a>
						</div>
					</div>
					<div class="item">
						<div class="section_box">
						  <a href=""><div class="product_icon">
							<i class="fas fa-at"></i>
						  </div><br>
						  <h5>Sports</h5></a>
						</div>
					</div>
					<div class="item">
						<div class="section_box">
						  <a href=""><div class="product_icon">
							<i class="fas fa-at"></i>
						  </div><br>
						  <h5>Journalism</h5></a>
						</div>
					</div>
					<div class="item">
						<div class="section_box">
						  <a href=""><div class="product_icon">
							<i class="fas fa-at"></i>
						  </div><br>
						  <h5>Teaching</h5></a>
						</div>
					</div>
					<div class="item">
						<div class="section_box">
						  <a href=""><div class="product_icon">
							<i class="fas fa-at"></i>
						  </div><br>
						  <h5>Social Work</h5></a>
						</div>
					</div>
					<div class="item">
						<div class="section_box">
						  <a href=""><div class="product_icon">
							<i class="fas fa-at"></i>
						  </div><br>
						  <h5>Design/Development</h5></a>
						</div>
					</div>
					<div class="item">
						<div class="section_box">
						  <a href=""><div class="product_icon">
							<i class="fas fa-at"></i>
						  </div><br>
						  <h5>Travel/tourism/Farming</h5></a>
						</div>
					</div>		
				</div>
			</div>
		</div>
	</div>
	
	<div class="bg">
		<div class="container-fluid">
	    	<div class="row">
				<div class="col-md-7 col-lg-9 col-sm-7">
					<div class="main_title text-right">
						<a href="#">Career After Graduation</a>
					</div>
					<div id="owl-demo" class="text-center">        
						<div class="item">
							<div class="section_box">
							  <a href=""><div class="product_icon">
								<i class="fas fa-at"></i>
							  </div><br>
							  <h5>After B.Tech</h5></a>
							</div>
						</div>
						<div class="item">
							<div class="section_box">
							  <a href=""><div class="product_icon">
								<i class="fas fa-at"></i>
							  </div><br>
							  <h5>After B.Sc</h5></a>
							</div>
						</div>
						<div class="item">
							<div class="section_box">
							  <a href=""><div class="product_icon">
								<i class="fas fa-at"></i>
							  </div><br>
							  <h5>After B.COM</h5></a>
							</div>
						</div>
						<div class="item">
							<div class="section_box">
							  <a href=""><div class="product_icon">
								<i class="fas fa-at"></i>
							  </div><br>
							  <h5>After BCA</h5></a>
							</div>
						</div>
						<div class="item">
							<div class="section_box">
							  <a href=""><div class="product_icon">
								<i class="fas fa-at"></i>
							  </div><br>
							  <h5>After medicine</h5></a>
							</div>
						</div>
						<div class="item">
							<div class="section_box">
							  <a href=""><div class="product_icon">
								<i class="fas fa-at"></i>
							  </div><br>
							  <h5>Fastion</h5></a>
							</div>
						</div>
						<div class="item">
							<div class="section_box">
							  <a href=""><div class="product_icon">
								<i class="fas fa-at"></i>
							  </div><br>
							  <h5>Computers/writers(Noval)/Painting</h5></a>
							</div>
						</div>		
					</div>
				</div>
				<div class="col-md-5 col-lg-3 col-sm-5 d-none d-sm-block category_img">
    				<a href="#"><img class="img-fluid" src="../images/7.jpg" alt=""></a>
    			</div>
			</div>
		</div>
	</div>
	
	<div class="container-fluid my-4">
    	<div class="row">
    		<div class="col-md-5 col-lg-3 col-sm-5 d-none d-sm-block category_img">
				<a href=""><img class="img-fluid" src="../images/Education.jpg" alt=""></a>
			</div>
			<div class="col-md-7 col-lg-9 col-sm-7">
				<div class="main_title">
					<a href="">Career After Post Graduation</a>
				</div>
				<div id="owl-demo" class="text-center">        
					<div class="item">
						<div class="section_box">
						  <a href=""><div class="product_icon">
							<i class="fas fa-at"></i>
						  </div><br>
						  <h5>After M.Tech</h5></a>
						</div>
					</div>
					<div class="item">
						<div class="section_box">
						  <a href=""><div class="product_icon">
							<i class="fas fa-at"></i>
						  </div><br>
						  <h5>After MSC</h5></a>
						</div>
					</div>
					<div class="item">
						<div class="section_box">
						  <a href=""><div class="product_icon">
							<i class="fas fa-at"></i>
						  </div><br>
						  <h5>After MCOM</h5></a>
						</div>
					</div>
					<div class="item">
						<div class="section_box">
						  <a href=""><div class="product_icon">
							<i class="fas fa-at"></i>
						  </div><br>
						  <h5>After MCA</h5></a>
						</div>
					</div>
					<div class="item">
						<div class="section_box">
						  <a href=""><div class="product_icon">
							<i class="fas fa-at"></i>
						  </div><br>
						  <h5>After MBBS</h5></a>
						</div>
					</div>
					<div class="item">
						<div class="section_box">
						  <a href=""><div class="product_icon">
							<i class="fas fa-at"></i>
						  </div><br>
						  <h5>CPA</h5></a>
						</div>
					</div>
					<div class="item">
						<div class="section_box">
						  <a href=""><div class="product_icon">
							<i class="fas fa-at"></i>
						  </div><br>
						  <h5>CA</h5></a>
						</div>
					</div>		
				</div>
			</div>
		</div>
	</div>

  <%- include ../sitelayouts/footer.ejs %>