<%- include ../sitelayouts/header.ejs %>

    <div class="page_heading">
    	<img src="../images/1.jpg" alt="" width="100%" height="150">
    	<div class="pagesub_heading">
    		<h1>Class Wise Material</h1>
    	</div>
    </div>

	<div class="container-fluid side_tabbar my-3">
		<div class="row">
			<div class="col-md-12">
				<nav aria-label="breadcrumb">
				    <ol class="breadcrumb">
				      <li class="breadcrumb-item"><a href="/">Home</a></li>
				      <li class="breadcrumb-item active" aria-current="page">Class Wise</li>
				    </ol>
				</nav>
			</div>
			<div class="col-md-4 col-sm-4 col-xl-3">
        <% if (locals.data) {
            %>
        <% locals.data.forEach(function(cat){
            %>
            <div class="side_barheading">
    			  	<h6 href="class-wise"><%= cat.name %><i class="fas fa-hand-point-right hand_icon"></i></h6>
    			  </div>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <% if (locals.sub_categories) {
                  %>
              <% locals.sub_categories.forEach(function(sub_categories){
                  %>
    				  <li class="nav-item">
    				    <a class="nav-link" data-toggle="tab" href="#activelink" role="tab" aria-controls="home">
                  <i class="fas fa-chevron-right"></i><%= sub_categories.name %></a>
    				  </li>
              <% }) %>
              <% } %>
            </ul>
        <% }) %>
        <% } %>
			  <div class="side_barheading">
			  	<h6 href="class-wise">Class Wise <i class="fas fa-hand-point-right hand_icon"></i></h6>
			  </div>
			  <ul class="nav nav-tabs" id="myTab" role="tablist">
				  <li class="nav-item">
				    <a class="nav-link active" data-toggle="tab" href="#activelink" role="tab" aria-controls="home"><i class="fas fa-chevron-right"></i> Class IX</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link" data-toggle="tab" href="#link1" role="tab" aria-controls="profile"><i class="fas fa-chevron-right"></i> Class X</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link" data-toggle="tab" href="#link2" role="tab" aria-controls="messages"><i class="fas fa-chevron-right"></i> Class XI</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link" data-toggle="tab" href="#link3" role="tab" aria-controls="settings"><i class="fas fa-chevron-right"></i> Class XII</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link" data-toggle="tab" href="#link4" role="tab" aria-controls="settings"><i class="fas fa-chevron-right"></i> B.Sc</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link" data-toggle="tab" href="#link5" role="tab" aria-controls="settings"><i class="fas fa-chevron-right"></i> BCA</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link" data-toggle="tab" href="#link6" role="tab" aria-controls="settings"><i class="fas fa-chevron-right"></i> BA</a>
				  </li>
			  </ul>
			  <!--div class="side_navbar">
			  	<h5>Other Link</h5>
			  	<a href=""><i class="fas fa-chevron-right"></i> Sub Heading-1</a>
			  	<a href=""><i class="fas fa-chevron-right"></i> Sub Heading-2</a>
			  	<a href=""><i class="fas fa-chevron-right"></i> Sub Heading-3</a>
			  </div-->
			  <div class="filter_bar">
			  	<a href="subject-wise"><i class="fas fa-chevron-right"></i> Subject Wise</a>
			  	<a href="board-material"><i class="fas fa-chevron-right"></i> Study Material By Board</a>
			  	<a href="entranc-exam"><i class="fas fa-chevron-right"></i> Extrance Exam Wise</a>

			  	<a href="#"><i class="fas fa-chevron-right"></i> GOVT. Exam Wise</a>
			  	<a href="#"><i class="fas fa-chevron-right"></i> UR Interset Wise</a>
				<a href="#"><i class="fas fa-chevron-right"></i> Engineering Study Material</a>
				<a href="#"><i class="fas fa-chevron-right"></i> Medical Study Material</a>
			  </div>
			</div>
			<div class="col-md-8 col-sm-8 col-xl-9">
				<div class="tab-content">
					<div class="tab-pane active" id="activelink" role="tabpanel">
						<div class="main_title">
							<a href="">Class IX</a>
						</div>
					  	<div class="text-center mb-2">
					  		<div class="form-row">
						  		<div class="col-md-4 col-sm-6 col-lg-3">
									<div class="subject_box">
									  <a href=""><div class="subject_icon">
										<i class="fas fa-at"></i>
									  </div><br>
									  <h5>Physics</h5></a>
									</div>
								</div>
								<div class="col-md-4 col-sm-6 col-lg-3">
									<div class="subject_box">
									  <a href=""><div class="subject_icon">
										<i class="fas fa-at"></i>
									  </div><br>
									  <h5>Chemistry</h5></a>
									</div>
								</div>
								<div class="col-md-4 col-sm-6 col-lg-3">
									<div class="subject_box">
									  <a href=""><div class="subject_icon">
										<i class="fas fa-at"></i>
									  </div><br>
									  <h5>Mathematics</h5></a>
									</div>
								</div>
								<div class="col-md-4 col-sm-6 col-lg-3">
									<div class="subject_box">
									  <a href=""><div class="subject_icon">
										<i class="fas fa-at"></i>
									  </div><br>
									  <h5>Biology</h5></a>
									</div>
								</div>
								<div class="col-md-4 col-sm-6 col-lg-3">
									<div class="subject_box">
									  <a href=""><div class="subject_icon">
										<i class="fas fa-at"></i>
									  </div><br>
									  <h5>History</h5></a>
									</div>
								</div>
								<div class="col-md-4 col-sm-6 col-lg-3">
									<div class="subject_box">
									  <a href=""><div class="subject_icon">
										<i class="fas fa-at"></i>
									  </div><br>
									  <h5>Accounts</h5></a>
									</div>
								</div>
								<div class="col-md-4 col-sm-6 col-lg-3">
									<div class="subject_box">
									  <a href=""><div class="subject_icon">
										<i class="fas fa-at"></i>
									  </div><br>
									  <h5>Business Studies</h5></a>
									</div>
								</div>
								<div class="col-md-4 col-sm-6 col-lg-3">
									<div class="subject_box">
									  <a href=""><div class="subject_icon">
										<i class="fas fa-at"></i>
									  </div><br>
									  <h5>English</h5></a>
									</div>
								</div>
								<div class="col-md-4 col-sm-6 col-lg-3">
									<div class="subject_box">
									  <a href=""><div class="subject_icon">
										<i class="fas fa-at"></i>
									  </div><br>
									  <h5>Punjabi</h5></a>
									</div>
								</div>
								<div class="col-md-4 col-sm-6 col-lg-3">
									<div class="subject_box">
									  <a href=""><div class="subject_icon">
										<i class="fas fa-at"></i>
									  </div><br>
									  <h5>Hindi</h5></a>
									</div>
								</div>
								<div class="col-md-4 col-sm-6 col-lg-3">
									<div class="subject_box">
									  <a href=""><div class="subject_icon">
										<i class="fas fa-at"></i>
									  </div><br>
									  <h5>Environment</h5></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				  <div class="tab-pane" id="link1" role="tabpanel">
					<div class="main_title">
						<a href="">Class X</a>
					</div>
					<div class="text-center mb-2">
						<div class="form-row">
							<div class="col-md-4 col-sm-6 col-lg-3">
								<div class="subject_box">
								  <a href=""><div class="subject_icon">
									<i class="fas fa-at"></i>
								  </div><br>
								  <h5>Physics</h5></a>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-lg-3">
								<div class="subject_box">
								  <a href=""><div class="subject_icon">
									<i class="fas fa-at"></i>
								  </div><br>
								  <h5>Chemistry</h5></a>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-lg-3">
								<div class="subject_box">
								  <a href=""><div class="subject_icon">
									<i class="fas fa-at"></i>
								  </div><br>
								  <h5>Mathematics</h5></a>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-lg-3">
								<div class="subject_box">
								  <a href=""><div class="subject_icon">
									<i class="fas fa-at"></i>
								  </div><br>
								  <h5>Biology</h5></a>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-lg-3">
								<div class="subject_box">
								  <a href=""><div class="subject_icon">
									<i class="fas fa-at"></i>
								  </div><br>
								  <h5>History</h5></a>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-lg-3">
								<div class="subject_box">
								  <a href=""><div class="subject_icon">
									<i class="fas fa-at"></i>
								  </div><br>
								  <h5>Accounts</h5></a>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-lg-3">
								<div class="subject_box">
								  <a href=""><div class="subject_icon">
									<i class="fas fa-at"></i>
								  </div><br>
								  <h5>Business Studies</h5></a>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-lg-3">
								<div class="subject_box">
								  <a href=""><div class="subject_icon">
									<i class="fas fa-at"></i>
								  </div><br>
								  <h5>English</h5></a>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-lg-3">
								<div class="subject_box">
								  <a href=""><div class="subject_icon">
									<i class="fas fa-at"></i>
								  </div><br>
								  <h5>Punjabi</h5></a>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-lg-3">
								<div class="subject_box">
								  <a href=""><div class="subject_icon">
									<i class="fas fa-at"></i>
								  </div><br>
								  <h5>Hindi</h5></a>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-lg-3">
								<div class="subject_box">
								  <a href=""><div class="subject_icon">
									<i class="fas fa-at"></i>
								  </div><br>
								  <h5>Environment</h5></a>
								</div>
							</div>
						</div>
					</div>
				  </div>
				  <div class="tab-pane" id="link2" role="tabpanel">XI</div>
				  <div class="tab-pane" id="link3" role="tabpanel">XII</div>
				  <div class="tab-pane" id="link4" role="tabpanel">B.Sc</div>
				  <div class="tab-pane" id="link5" role="tabpanel">BCA</div>
				  <div class="tab-pane" id="link6" role="tabpanel">BA</div>
				</div>
			</div>
		</div>
	</div>
<%- include ../sitelayouts/footer.ejs %>
