 <%- include ../sitelayouts/header.ejs %>

    <div class="page_heading">
    	<img src="../images/banner.jpg" alt="" width="100%" height="150">
    	<div class="pagesub_heading">
    		<h1>Engineering Entrance  <span class="main_color">Exams</span></h1>
    	</div>
    </div>
      
	<div class="container-fluid my-3">
		<div class="row">
			<div class="col-md-12">
				<nav aria-label="breadcrumb">
				    <ol class="breadcrumb">
				      <li class="breadcrumb-item"><a href="entrance_exam">Home</a></li>
				      <li class="breadcrumb-item active" aria-current="page">Engineering Entrance Exams</li>
				    </ol>
				</nav>
			</div>
			<div class="col-md-4 col-sm-4 col-xl-3 side_tabbar">
			  <div class="side_barheading border-none">
			  	<h6 href="subjectwise.html">Engineering Entrance Exams <i class="fas fa-hand-point-right hand_icon"></i></h6>
			  </div>
			  <div id="accordion" class="accordion custom_accordion">
				<div class="card mb-0">
					<div class="card-header collapsed arrow_change" data-toggle="collapse" href="#collapseOne">
						<a class="card-title"> Engineering Entrance Exams <i class="fas fa-angle-right"></i></a>
					</div>
					<div id="collapseOne" class="card-body collapse p-0" data-parent="#accordion" >
						<ul class="nav nav-tabs" id="myTab" role="tablist">
						  <li class="nav-item">
							<a class="nav-link active tabbar_heading" data-toggle="tab" href="#Engineering1" role="tab" aria-controls="home"><i class="fas fa-chevron-right"></i> IIT-JEE</a>
						  </li>
						  <li class="nav-item">
							<a class="nav-link  tabbar_heading" data-toggle="tab" href="#Engineering2" role="tab" aria-controls="home"><i class="fas fa-chevron-right"></i> Bitsat</a>
						  </li>
						  <li class="nav-item">
							<a class="nav-link  tabbar_heading" data-toggle="tab" href="#Engineering3" role="tab" aria-controls="home"><i class="fas fa-chevron-right"></i> Kcet</a>
						  </li>
						  <li class="nav-item">
							<a class="nav-link  tabbar_heading" data-toggle="tab" href="#Engineering4" role="tab" aria-controls="home"><i class="fas fa-chevron-right"></i> Matcet</a>
						  </li>
						  <li class="nav-item">
							<a class="nav-link  tabbar_heading" data-toggle="tab" href="#Engineering5" role="tab" aria-controls="home"><i class="fas fa-chevron-right"></i> Wbjee</a>
						  </li>
						  <li class="nav-item">
							<a class="nav-link  tabbar_heading" data-toggle="tab" href="#Engineering6" role="tab" aria-controls="home"><i class="fas fa-chevron-right"></i> Ap Eamcet</a>
						  </li>
						  <li class="nav-item">
							<a class="nav-link  tabbar_heading" data-toggle="tab" href="#Engineering7" role="tab" aria-controls="home"><i class="fas fa-chevron-right"></i> Viteee</a>
						  </li>
					  </ul>
					</div>
					<div class="card-header collapsed arrow_change" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
						<a class="card-title"> Medical Entrance ExamsMedical Entrance Exams <i class="fas fa-angle-right"></i></a>
					</div>
					<div id="collapseTwo" class="card-body collapse p-0" data-parent="#accordion" >
						<ul class="nav nav-tabs" id="myTab" role="tablist">
						  <li class="nav-item">
							<a class="nav-link active tabbar_heading" data-toggle="tab" href="#Medical1" role="tab" aria-controls="home"><i class="fas fa-chevron-right"></i> NEET </a>
						  </li>
						  <li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#Medical2" role="tab" aria-controls="profile"><i class="fas fa-chevron-right"></i> AIIMS</a>
						  </li>
						</ul>
					</div>
					<div class="card-header collapsed arrow_change" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
						<a class="card-title"> Olympiad/Kvpy/Scholarship Exams <i class="fas fa-angle-right"></i></a>
					</div>
					<div id="collapseThree" class="collapse" data-parent="#accordion" >
						<ul class="nav nav-tabs" id="myTab" role="tablist">
						  <li class="nav-item">
							<a class="nav-link active tabbar_heading" data-toggle="tab" href="#Scholarship1" role="tab" aria-controls="home"><i class="fas fa-chevron-right"></i> NSO</a>
						  </li>
						  <li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#Scholarship2" role="tab" aria-controls="profile"><i class="fas fa-chevron-right"></i> IEO</a>
						  </li>
						</ul>
					</div>
					<div class="card-header collapsed arrow_change" data-toggle="collapse" data-parent="#accordion" href="#collapsefour">
						<a class="card-title"> Civil Services/Teaching/State Level Administrative Defence <i class="fas fa-angle-right"></i></a>
					</div>
					<div id="collapsefour" class="collapse" data-parent="#accordion" >
						<ul class="nav nav-tabs" id="myTab" role="tablist">
						  <li class="nav-item">
							<a class="nav-link active tabbar_heading" data-toggle="tab" href="#Civil1" role="tab" aria-controls="home"><i class="fas fa-chevron-right"></i> TET</a>
						  </li>
						  <li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#Civil2" role="tab" aria-controls="profile"><i class="fas fa-chevron-right"></i> UGC</a>
						  </li>
						</ul>
					</div>
					<div class="card-header collapsed arrow_change" data-toggle="collapse" data-parent="#accordion" href="#collapsefive">
						<a class="card-title"> Banking/Finance/Management/Law <i class="fas fa-angle-right"></i></a>
					</div>
					<div id="collapsefive" class="collapse" data-parent="#accordion" >
						<ul class="nav nav-tabs" id="myTab" role="tablist">
						  <li class="nav-item">
							<a class="nav-link active tabbar_heading" data-toggle="tab" href="#Banking1" role="tab" aria-controls="home"><i class="fas fa-chevron-right"></i> IBPS PO</a>
						  </li>
						  <li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#Banking2" role="tab" aria-controls="profile"><i class="fas fa-chevron-right"></i> SBI PO</a>
						  </li>
						</ul>
					</div>
					<div class="card-header collapsed arrow_change" data-toggle="collapse" data-parent="#accordion" href="#collapsesix">
						<a class="card-title"> Software Certification/International Exams <i class="fas fa-angle-right"></i></a>
					</div>
					<div id="collapsesix" class="collapse" data-parent="#accordion" >
						<ul class="nav nav-tabs" id="myTab" role="tablist">
						  <li class="nav-item">
							<a class="nav-link active tabbar_heading" data-toggle="tab" href="#Software1" role="tab" aria-controls="home"><i class="fas fa-chevron-right"></i> Red Hat Linux</a>
						  </li>
						  <li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#Software2" role="tab" aria-controls="profile"><i class="fas fa-chevron-right"></i> Sun Java</a>
						  </li>
						</ul>
					</div>
				</div>
			  </div>
			</div>
			<div class="col-md-8 col-sm-8 col-xl-6" >
				<div class="tab-content">
					<div class="tab-pane active" id="Engineering1" role="tabpanel">
						<div class="main_title">
							<a href="">Engineering Entrance Exams - <small>IIT-JE</small></a>
						</div>
					  	<div class="mb-2">
							<ul class="nav nav-tabs" role="tablist">
							  <li class="nav-item">
								<a class="nav-link active" href="#intro" role="tab" data-toggle="tab">Exam Description</a>
							  </li>
							  <li class="nav-item">
								<a class="nav-link" href="#eli" role="tab" data-toggle="tab">Eligibility Criteria</a>
							  </li>
							  <li class="nav-item">
								<a class="nav-link" href="#job" role="tab" data-toggle="tab">How To Apply</a>
							  </li>
							  <li class="nav-item">
								<a class="nav-link" href="#rem" role="tab" data-toggle="tab">Preparation Tips</a>
							  </li>
							</ul>
							<div class="form-row">
								<div class="col-md-7 col-lg-9 col-sm-7 ">
									<!-- Tab panes -->
									<div class="tab-content topics tab_border">
									  <div role="tabpanel" class="tab-pane in active" id="intro">
										<div class="col-md-12">
											<p>When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
											<p>It has survived not only five centuries, but also the leap into electronic. </p>
											<p>typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
										</div>
									  </div>
									  <div role="tabpanel" class="tab-pane fade" id="eli">
										2
									  </div>
									  <div role="tabpanel" class="tab-pane fade" id="job">
									  3
									  </div>
									  <div role="tabpanel" class="tab-pane fade" id="rem">
									  3
									  </div>
									</div>
								</div>
								<div class="col-md-5 col-lg-3 col-sm-5">
									<div class="latest_blog">
										<ul id="ticker01">      
											<li><a href="#"> Admit Card</a></li>
											<li><a href="#"> Examination Pattern</a></li>
											<li><a href="#"> Syllabus </a></li>
											<li><a href="#"> Selection Procedure</a></li>
											<li><a href="#"> Question Papers</a></li>
											<li><a href="#"> Reference Books</a></li>
											<li><a href="#"> Coaching Centers</a></li>
											<li><a href="#"> Important Dates</a></li>
											<li><a href="#"> Other Links</a></li>
										</ul>
									</div>
								</div>
								<div class="form-row">
								<div class="col-md-12">
									<h5 class="my-3">Select Other Exams:</h5>
								</div>
									<div class="col-md-4 col-sm-6 col-lg-2 text-center">	
										<div class="slect_otherexams">
										  <a href="">
										  <h2>JEE Main</h2></a>
										</div>
									</div>
									<div class="col-md-4 col-sm-6 col-lg-2 text-center">	
										<div class="slect_otherexams">
										  <a href="">
										  <h2>KCET</h2></a>
										</div>
									</div>
									<div class="col-md-4 col-sm-6 col-lg-2 text-center">	
										<div class="slect_otherexams">
										  <a href="">
										  <h2>XMAT</h2></a>
										</div>
									</div>
									<div class="col-md-4 col-sm-6 col-lg-2 text-center">	
										<div class="slect_otherexams">
										  <a href="">
										  <h2>CMAT</h2></a>
										</div>
									</div>
									<div class="col-md-4 col-sm-6 col-lg-2 text-center">	
										<div class="slect_otherexams">
										  <a href="">
										  <h2>GATE</h2></a>
										</div>
									</div>
									<div class="col-md-4 col-sm-6 col-lg-2 text-center">	
										<div class="slect_otherexams">
										  <a href="">
										  <h2>AEEE</h2></a>
										</div>
									</div>
									<div class="col-md-4 col-sm-6 col-lg-2 text-center">	
										<div class="slect_otherexams">
										  <a href="">
										  <h2>BITSAT</h2></a>
										</div>
									</div>
									<div class="col-md-4 col-sm-6 col-lg-2 text-center">	
										<div class="slect_otherexams">
										  <a href="">
										  <h2>NID</h2></a>
										</div>
									</div>
									<div class="col-md-4 col-sm-6 col-lg-2 text-center">	
										<div class="slect_otherexams">
										  <a href="">
										  <h2>CLAT</h2></a>
										</div>
									</div>
									<div class="col-md-4 col-sm-6 col-lg-2 text-center">	
										<div class="slect_otherexams">
										  <a href="">
										  <h2>SNAP</h2></a>
										</div>
									</div>
									<div class="col-md-4 col-sm-6 col-lg-2 text-center">	
										<div class="slect_otherexams">
										  <a href="">
										  <h2>SLAT</h2></a>
										</div>
									</div>
									<div class="col-md-4 col-sm-6 col-lg-2 text-center">	
										<div class="slect_otherexams">
										  <a href="">
										  <h2>MAT</h2></a>
										</div>
									</div>
									<div class="col-md-4 col-sm-6 col-lg-2 text-center">	
										<div class="slect_otherexams">
										  <a href="">
										  <h2>JEE Advanced</h2></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				  <div class="tab-pane" id="Engineering2" role="tabpanel">
					<div class="main_title">
						<a href="">Engineering Entrance Exams - <small>Bitsat</small></a>
						</div>
					  	<div class="mb-2">
					  		<div class="form-row">
								<div class="col-md-7 col-lg-9 col-sm-7 ">
									<ul class="nav nav-tabs" role="tablist">
									  <li class="nav-item">
										<a class="nav-link active" href="#intro1" role="tab" data-toggle="tab">Interduction</a>
									  </li>
									  <li class="nav-item">
										<a class="nav-link" href="#eli1" role="tab" data-toggle="tab">Eligibility</a>
									  </li>
									  <li class="nav-item">
										<a class="nav-link" href="#job1" role="tab" data-toggle="tab">Job Prospects</a>
									  </li>
									  <li class="nav-item">
										<a class="nav-link" href="#rem1" role="tab" data-toggle="tab">Remeuration</a>
									  </li>
									</ul>

									<!-- Tab panes -->
									<div class="tab-content tab_border mt-3 topics">
									  <div role="tabpanel" class="tab-pane in active" id="intro1">
										<div class="col-md-12">
											<p>When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
											<p>It has survived not only five centuries, but also the leap into electronic. </p>
											<p>typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
										</div>
									  </div>
									  <div role="tabpanel" class="tab-pane fade" id="eli1">
										2
									  </div>
									  <div role="tabpanel" class="tab-pane fade" id="job1">
									  3
									  </div>
									  <div role="tabpanel" class="tab-pane fade" id="rem1">
									  3
									  </div>
									</div>
								</div>
							</div>
						</div>
				  </div>
				  <div class="tab-pane" id="Engineering3" role="tabpanel">.3..</div>
				  <div class="tab-pane" id="Engineering4" role="tabpanel">.4..</div>
				  <div class="tab-pane" id="Engineering6" role="tabpanel">.5..</div>
				  <div class="tab-pane" id="Engineering7" role="tabpanel">.6..</div>
				  <div class="tab-pane" id="Medical1" role="tabpanel">.1..</div>
				  <div class="tab-pane" id="Medical2" role="tabpanel">.2..</div>
				  <div class="tab-pane" id="Scholarship1" role="tabpanel">.1..</div>
				  <div class="tab-pane" id="Scholarship2" role="tabpanel">.2..</div>
				  <div class="tab-pane" id="Civil1" role="tabpanel">.1..</div>
				  <div class="tab-pane" id="Civil2" role="tabpanel">.2..</div>
				  <div class="tab-pane" id="Banking1" role="tabpanel">.1..</div>
				  <div class="tab-pane" id="Banking2" role="tabpanel">.2..</div>
				  <div class="tab-pane" id="Software1" role="tabpanel">.1..</div>
				  <div class="tab-pane" id="Software2" role="tabpanel">.2..</div>
				</div>
			</div>
			<div class="col-xl-3 col-sm-12">
				<h1>There Will be Subcategories</h1>
			</div>
		</div>
	</div>
<%- include ../sitelayouts/footer.ejs %>