<%- include ../sitelayouts/header.ejs %>
    <div class="page_heading">
    	<img src="../images/banner.jpg" alt="" width="100%" height="150">
    	<div class="pagesub_heading">
    		<h1>Extrance Exam Wise <span class="main_color">Material</span></h1>
    	</div>
    </div>

	<div class="container-fluid side_tabbar my-3">
		<div class="row">
			<div class="col-md-12">
				<nav aria-label="breadcrumb">
				    <ol class="breadcrumb">
				      <li class="breadcrumb-item"><a href="/">Home</a></li>
				      <li class="breadcrumb-item active" aria-current="page">Extrance Exam Wise</li>
				    </ol>
				</nav>
			</div>
			<div class="col-md-4 col-sm-4 col-xl-3">
			  <div class="side_barheading">
			  	<h6 href="subjectwise.html">Extrance Exam Wise <i class="fas fa-hand-point-right hand_icon"></i></h6>
			  </div>
			  <ul class="nav nav-tabs" id="myTab" role="tablist">
				  <li class="nav-item">
				    <a class="nav-link active tabbar_heading" data-toggle="tab" href="#activelink" role="tab" aria-controls="home"><i class="fas fa-chevron-right"></i> IIT-JEE(MAINS)</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link" data-toggle="tab" href="#link1" role="tab" aria-controls="profile"><i class="fas fa-chevron-right"></i> IIT-JEE(ADVANCE)</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link" data-toggle="tab" href="#link2" role="tab" aria-controls="messages"><i class="fas fa-chevron-right"></i> B.Sc(Agri.)</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link" data-toggle="tab" href="#link3" role="tab" aria-controls="settings"><i class="fas fa-chevron-right"></i> B.Sc(Hons.)</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link" data-toggle="tab" href="#link4" role="tab" aria-controls="settings"><i class="fas fa-chevron-right"></i> Neet</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link" data-toggle="tab" href="#link5" role="tab" aria-controls="settings"><i class="fas fa-chevron-right"></i> TET</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link" data-toggle="tab" href="#link6" role="tab" aria-controls="settings"><i class="fas fa-chevron-right"></i> SCC</a>
				  </li>
			  </ul>
			  <div class="filter_bar">
			  	<a href="subject-wise"><i class="fas fa-chevron-right"></i> Subject Wise</a>
			  	<a href="class-wise"><i class="fas fa-chevron-right"></i> Class Wise</a>
				<a href="board-material"><i class="fas fa-chevron-right"></i> Study Material By Board</a>
			  	<a href="#"><i class="fas fa-chevron-right"></i> GOVT. Exam Wise</a>
			  	<a href="#"><i class="fas fa-chevron-right"></i> UR Interset Wise</a>
				<a href="#"><i class="fas fa-chevron-right"></i> Engineering Study Material</a>
				<a href="#"><i class="fas fa-chevron-right"></i> Medical Study Material</a>
			  </div>
			</div>
			<div class="col-md-8 col-sm-8 col-xl-9">
				<div class="tab-content">
					<div class="tab-pane active" id="activelink" role="tabpanel">
						<div class="main_title">
							<a href="">IIT-JEE(MAINS)</a>
						</div>
					  	<div class="text-center mb-2">
					  		<div class="form-row">
						  		<div class="col-md-4 col-sm-6 col-lg-3">
									<div class="subject_box">
									  <a href=""><div class="subject_icon">
										<i class="fas fa-at"></i>
									  </div><br>
									  <h5>Force</h5></a>
									</div>
								</div>
								<div class="col-md-4 col-sm-6 col-lg-3">
									<div class="subject_box">
									  <a href=""><div class="subject_icon">
										<i class="fas fa-at"></i>
									  </div><br>
									  <h5>Gravtiation</h5></a>
									</div>
								</div>
								<div class="col-md-4 col-sm-6 col-lg-3">
									<div class="subject_box">
									  <a href=""><div class="subject_icon">
										<i class="fas fa-at"></i>
									  </div><br>
									  <h5>Magnetism</h5></a>
									</div>
								</div>
								<div class="col-md-4 col-sm-6 col-lg-3">
									<div class="subject_box">
									  <a href=""><div class="subject_icon">
										<i class="fas fa-at"></i>
									  </div><br>
									  <h5>Atoms</h5></a>
									</div>
								</div>
								<div class="col-md-4 col-sm-6 col-lg-3">
									<div class="subject_box">
									  <a href=""><div class="subject_icon">
										<i class="fas fa-at"></i>
									  </div><br>
									  <h5>Chemical</h5></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				  <div class="tab-pane" id="link1" role="tabpanel">
					<div class="main_title">
						<a href="">IIT-JEE(ADVANCE)</a>
					</div>
					<div class="text-center mb-2">
						<div class="form-row">
							<div class="col-md-4 col-sm-6 col-lg-3">
								<div class="subject_box">
								  <a href=""><div class="subject_icon">
									<i class="fas fa-at"></i>
								  </div><br>
								  <h5>Force</h5></a>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-lg-3">
								<div class="subject_box">
								  <a href=""><div class="subject_icon">
									<i class="fas fa-at"></i>
								  </div><br>
								  <h5>Gravtiation</h5></a>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-lg-3">
								<div class="subject_box">
								  <a href=""><div class="subject_icon">
									<i class="fas fa-at"></i>
								  </div><br>
								  <h5>Magnetism</h5></a>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-lg-3">
								<div class="subject_box">
								  <a href=""><div class="subject_icon">
									<i class="fas fa-at"></i>
								  </div><br>
								  <h5>Atoms</h5></a>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-lg-3">
								<div class="subject_box">
								  <a href=""><div class="subject_icon">
									<i class="fas fa-at"></i>
								  </div><br>
								  <h5>Chemical</h5></a>
								</div>
							</div>
						</div>
					</div>
				  </div>
				  <div class="tab-pane" id="link2" role="tabpanel">.3..</div>
				  <div class="tab-pane" id="link3" role="tabpanel">.4..</div>
				  <div class="tab-pane" id="link4" role="tabpanel">.5..</div>
				  <div class="tab-pane" id="link5" role="tabpanel">.6..</div>
				  <div class="tab-pane" id="link6" role="tabpanel">.7..</div>
				</div>
			</div>
       
		</div>
	</div>
  <%- include ../sitelayouts/footer.ejs %>
