<%- include ../sitelayouts/header.ejs %>

    <div class="page_heading">
    	<img src="../images/banner.jpg" alt="" width="100%" height="150">
    	<div class="pagesub_heading">
    		<h1>Subject Wise <span class="main_color">Theory Notes</span></h1>
    	</div>
    </div>
      
	<div class="container-fluid side_tabbar my-3">
		<div class="row">
			<div class="col-md-12">
				<nav aria-label="breadcrumb">
				    <ol class="breadcrumb">
				      <li class="breadcrumb-item"><a href="index.html">Home</a></li>
					  <li class="breadcrumb-item"><a href="subject-wise">Subject Wise</a></li>
					  <li class="breadcrumb-item"><a href="subject_subcategory">Subject Sub Category</a></li>
				      <li class="breadcrumb-item active" aria-current="page">Gravtiation Notes</li>
				    </ol>
				</nav>
			</div>
			<div class="col-md-4 col-sm-4 col-xl-3">
			  <div class="side_barheading">
			  	<h6 href="subjectwise.html">Gravtiation Notes <i class="fas fa-hand-point-right hand_icon"></i></h6>
			  </div>
			  <ul class="nav nav-tabs" id="myTab" role="tablist">
				  <li class="nav-item">
				    <a class="nav-link active tabbar_heading" data-toggle="tab" href="#activelink" role="tab" aria-controls="home"><i class="fas fa-chevron-right"></i> Topic Wise Video Lectures</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link" data-toggle="tab" href="#link1" role="tab" aria-controls="profile"><i class="fas fa-chevron-right"></i> Topic Wise Theory Test</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link" data-toggle="tab" href="#link2" role="tab" aria-controls="messages"><i class="fas fa-chevron-right"></i> Ncert Solutions</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link" data-toggle="tab" href="#link3" role="tab" aria-controls="settings"><i class="fas fa-chevron-right"></i> Value Based</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link" data-toggle="tab" href="#link4" role="tab" aria-controls="settings"><i class="fas fa-chevron-right"></i> Memory Maps</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link" data-toggle="tab" href="#link5" role="tab" aria-controls="settings"><i class="fas fa-chevron-right"></i> Brain Drain Problems</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link" data-toggle="tab" href="#link6" role="tab" aria-controls="settings"><i class="fas fa-chevron-right"></i> Topic Wise Conceptual Problems</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link" data-toggle="tab" href="#link7" role="tab" aria-controls="settings"><i class="fas fa-chevron-right"></i> Topic Wise LAQ</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link" data-toggle="tab" href="#link8" role="tab" aria-controls="settings"><i class="fas fa-chevron-right"></i> Topic Wise SAQ</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link" data-toggle="tab" href="#link9" role="tab" aria-controls="settings"><i class="fas fa-chevron-right"></i> Topic Wise VASQ</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link" data-toggle="tab" href="#link10" role="tab" aria-controls="settings"><i class="fas fa-chevron-right"></i> Topic Wise Numerical</a>
				  </li>
			  </ul>
			  <div class="filter_bar">
			  	<a href="class-wise"><i class="fas fa-chevron-right"></i> Class Wise</a>
			  	<a href="board-material"><i class="fas fa-chevron-right"></i> Study Material By Board</a>
			  	<a href="entranc-exam"><i class="fas fa-chevron-right"></i> Extrance Exam Wise</a>
			  	<a href=""><i class="fas fa-chevron-right"></i> GOVT. Exam Wise</a>
			  	<a href=""><i class="fas fa-chevron-right"></i> UR Interset Wise</a>
				<a href=""><i class="fas fa-chevron-right"></i> Engineering Study Material</a>
				<a href=""><i class="fas fa-chevron-right"></i> Medical Study Material</a>
			  </div>
			</div>
			<div class="col-md-8 col-sm-8 col-xl-9 topics">
				<div class="tab-content">
					<div class="tab-pane active" id="activelink" role="tabpanel">
						<div class="main_title">
							<a href="">Topic Wise video Lectures - <small>Topic-1</small></a>
						</div>
					  	<div class="mb-2">
					  		<div class="form-row">
								<div class="col-md-12">
									<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic. </p>
								</div>
								<div class="col-md-12 text-center my-2">	
									<a href=""><img src="../images/pdf.jpg" alt=""></a>
								</div>
								<div class="col-md-12 text-center mt-2 mb-5">
									<button class="btn btn-primary my-2 my-sm-0 register_btn" type="submit">Download PDF</button>
									<button class="btn btn-primary my-2 my-sm-0 register_btn" type="submit">Download FLIP Book</button>
								</div>
						  		<div class="col-md-4 col-sm-6 col-lg-2 text-center">	
									<div class="subject_box">
									  <a href="">
									  <h2>Topic-2</h2></a>
									</div>
								</div>
						  		<div class="col-md-4 col-sm-6 col-lg-2 text-center">	
									<div class="subject_box">
									  <a href="">
									  <h2>Topic-3</h2></a>
									</div>
								</div>
						  		<div class="col-md-4 col-sm-6 col-lg-2 text-center">	
									<div class="subject_box">
									  <a href="">
									  <h2>Topic-4</h2></a>
									</div>
								</div>
						  		<div class="col-md-4 col-sm-6 col-lg-2 text-center">	
									<div class="subject_box">
									  <a href="">
									  <h2>Topic-5</h2></a>
									</div>
								</div>
						  		<div class="col-md-4 col-sm-6 col-lg-2 text-center">	
									<div class="subject_box">
									  <a href="">
									  <h2>Topic-6</h2></a>
									</div>
								</div>
						  		<div class="col-md-4 col-sm-6 col-lg-2 text-center">	
									<div class="subject_box">
									  <a href="">
									  <h2>Topic-7</h2></a>
									</div>
								</div>
						  		<div class="col-md-4 col-sm-6 col-lg-2 text-center">	
									<div class="subject_box">
									  <a href="">
									  <h2>Topic-8</h2></a>
									</div>
								</div>
						  		<div class="col-md-4 col-sm-6 col-lg-2 text-center">	
									<div class="subject_box">
									  <a href="">
									  <h2>Topic-9</h2></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				  <div class="tab-pane" id="link1" role="tabpanel">
					<div class="main_title">
							<a href="">Topic Wise Theory Test - <small>Topic-1</small></a>
						</div>
					  	<div class="mb-2">
					  		<div class="form-row">
								<div class="col-md-12">
									<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic. </p>
								</div>
								<div class="col-md-12 text-center mt-2 mb-5">	
									<a href=""><img src="../images/pdf.jpg" alt=""></a>
								</div>
						  		<div class="col-md-4 col-sm-6 col-lg-2 text-center">	
									<div class="subject_box">
									  <a href="">
									  <h2>Topic-2</h2></a>
									</div>
								</div>
						  		<div class="col-md-4 col-sm-6 col-lg-2 text-center">	
									<div class="subject_box">
									  <a href="">
									  <h2>Topic-3</h2></a>
									</div>
								</div>
						  		<div class="col-md-4 col-sm-6 col-lg-2 text-center">	
									<div class="subject_box">
									  <a href="">
									  <h2>Topic-4</h2></a>
									</div>
								</div>
						  		<div class="col-md-4 col-sm-6 col-lg-2 text-center">	
									<div class="subject_box">
									  <a href="">
									  <h2>Topic-5</h2></a>
									</div>
								</div>
						  		<div class="col-md-4 col-sm-6 col-lg-2 text-center">	
									<div class="subject_box">
									  <a href="">
									  <h2>Topic-6</h2></a>
									</div>
								</div>
						  		<div class="col-md-4 col-sm-6 col-lg-2 text-center">	
									<div class="subject_box">
									  <a href="">
									  <h2>Topic-7</h2></a>
									</div>
								</div>
						  		<div class="col-md-4 col-sm-6 col-lg-2 text-center">	
									<div class="subject_box">
									  <a href="">
									  <h2>Topic-8</h2></a>
									</div>
								</div>
						  		<div class="col-md-4 col-sm-6 col-lg-2 text-center">	
									<div class="subject_box">
									  <a href="">
									  <h2>Topic-9</h2></a>
									</div>
								</div>
							</div>
						</div>
				  </div>
				  <div class="tab-pane" id="link2" role="tabpanel">.3..</div>
				  <div class="tab-pane" id="link3" role="tabpanel">.4..</div>
				  <div class="tab-pane" id="link4" role="tabpanel">.5..</div>
				  <div class="tab-pane" id="link5" role="tabpanel">.6..</div>
				  <div class="tab-pane" id="link6" role="tabpanel">.7..</div>
				  <div class="tab-pane" id="link7" role="tabpanel">.8..</div>
				  <div class="tab-pane" id="link8" role="tabpanel">.9..</div>
				  <div class="tab-pane" id="link9" role="tabpanel">.10..</div>
				  <div class="tab-pane" id="link10" role="tabpanel">.11..</div>
				</div>
			</div>
		</div>
	</div>
	
      <%- include ../sitelayouts/footer.ejs %>