<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Revoedubook</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="../../admin/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="../../admin/dist/css/AdminLTE.min.css">
  <link rel="stylesheet" href="../../admin/dist/css/skins/skin-blue.min.css">
  <link rel="stylesheet" href="../../admin/dist/css/style.css">
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
  <header class="main-header">
    <a href="dashboard" class="logo">
      <span class="logo-mini"><b>R</b>B</span>
      <span class="logo-lg"><b>Revoedubook</b></span>
      <!-- <img src="../../assets/images/site-logo.png" class="img-circle" alt="User Image"> -->
    </a>
    <nav class="navbar navbar-static-top" role="navigation">
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <span class="hidden-xs">Indersein</span>
            </a>
            <ul class="dropdown-menu">
              <li class="user-header">
                <p>
                  Alexander Pierce - Web Developer
                  <small>Member since Nov. 2012</small>
                </p>
              </li>
              <li class="user-footer">
                <div class="pull-left">
                  <a href="#" class="btn btn-default btn-flat">Profile</a>
                </div>
                <div class="pull-right">
                  <a href="/admin/" class="btn btn-default btn-flat">Sign out</a>
                </div>
              </li>
            </ul>
          </li>

        </ul>
      </div>
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

      <!-- Sidebar user panel (optional) -->
      <!-- <div class="user-panel">
        <div class="pull-left image">
          <img src="../../assets/images/site-logo.png" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>Alexander Pierce</p> -->
          <!-- Status
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>

       search form (Optional)
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form> -->
      <!-- /.search form -->

      <!-- Sidebar Menu -->
      <ul class="sidebar-menu">
        <li class="header">HEADER</li>
        <!-- Optionally, you can add icons to the links -->
        <li class="active"><a href="#"><i class="fa fa-home"></i> <span>Home</span></a></li>

        <li class="treeview">
          <a href="#"><i class="fa fa-users"></i> <span>User</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#">Add New User</a></li>
            <li><a href="#">User List</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#"><i class="fa fa-plus-square-o"></i> <span>Manage Categories</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="/admin/category/add-category">Category</a></li>
            <li><a href="/admin/category/sub_category">Sub Category</a></li>
            <li><a href="/admin/category/nano_categories">Nano Category</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#"><i class="fa fa-clone"></i> <span>Classes</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="/admin/class/addclass">Add New Class</a></li>
            <li><a href="/admin/class/class-list">Class List</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#"><i class="fa fa-clone"></i> <span>Boards</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="/admin/board/addboard">Add New board</a></li>
            <li><a href="/admin/board/board-list">board List</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#"><i class="fa fa-clone"></i> <span>Subject</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="/admin/subject/addsubject">Add New Subject</a></li>
            <li><a href="/admin/subject/subject-list">Subjects List</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#"><i class="fa fa-clone"></i> <span>Topic</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="/admin/topic/addtopic">Add New Topic</a></li>
            <li><a href="/admin/topic/topic-list">Topics List</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#"><i class="fa fa-plus-square-o"></i> <span>Content</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="/admin/content/addcontent">Add New Content</a></li>
           <!--  <li><a href="/admin/content/contentlist">View Page</a></li> -->
            <li><a href="/admin/content/contentlist">Content List</a></li>
          </ul>
        </li>
         <li class="treeview">
          <a href="#"><i class="fa fa-archive"></i> <span>Exams</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
             <li><a href="/admin/exam/add_exam_type">Add Exam Type</a></li>
            <li><a href="/admin/exam/add_exam">Add Exam</a></li>
            <li><a href="/admin/exam/exam_list">Exam List</a></li>
          </ul>
        </li>
         <li class="treeview">
          <a href="#"><i class="fa fa-bolt"></i> <span>Eligibilites</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#">Add New Eligibility </a></li>
            <li><a href="#">Eligibility List</a></li>
          </ul>
        </li> <li class="treeview">
          <a href="#"><i class="fa fa-file-text-o"></i> <span>Fields</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#">Add New Fields</a></li>
            <li><a href="#">Field List</a></li>
          </ul>
        </li> <li class="treeview">
          <a href="#"><i class="fa fa-video-camera"></i> <span>Streams</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#">Add New Stream</a></li>
            <li><a href="#">Stream List</a></li>
          </ul>
        </li> <li class="treeview">
          <a href="#"><i class="fa fa-subscript"></i> <span>Subjects</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#">Add New Subject</a></li>
            <li><a href="#">Subject List</a></li>
          </ul>
        </li>
       
        <li class="treeview">
          <a href="#"><i class="fa fa-hand-peace-o"></i> <span>Teacher</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#">Add New Teacher</a></li>
            <li><a href="#">Teacher List</a></li>
          </ul>
        </li>
        <li class="active"><a href="/admin/logout"><i class="fa fa-sign-out"></i> <span>Logout</span></a></li>
      </ul>

      <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
  </aside>
